.footer{
    padding:8rem 4rem 4rem;
    background: linear-gradient(300.41deg, #000000 31.42%, #4B4B4B 117.78%);
    gap: 6rem;
    &__content{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        // grid-template-rows: 25rem;
        grid-gap: 1rem;
        grid-row-gap: 30px;

       @include respond(tab-port){
            h2{font-size: 20px;}
            a{font-size: 14px;}
        }
    }
 
}